*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
}

.logo{

    padding-top: 10px;
    margin-left: 10px;
    height: 48px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 1000px;

}

textarea{
    resize: none;
    padding: 20px 0px 0px 20px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercases;
    height: 580px;
}

::placeholder{
    .text-area:focus{
        outline: nones;
    }
}

.mensaje{
    background: white;
    background-image: url(imagenes/munheco.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
    border: none;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    padding-left: 20px;
}

.mensaje:focus{
    outline: none;
}

.informacion-de-advertencia::before{
content: "ⓘ";
}
.informacion-de-advertencia{
    line-height: 0.1;
    font-size: 20px;
    color: red;
}
.botones{

    display: flex;
    margin-top: 18px;   
    
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid 0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;


}

.btn-desencriptar{
    background-color: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 364px;
    margin-top: 782px;
    position: absolute;
    width: 336px;
}

footer p, footer a{
    text-align: center;
    font-size: 13px;
    color: black;
    vertical-align: bottom;
    height: 13px;
    margin: 0;
    padding: 0;
}